<nav id='menuvue'>
	<ul>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logoradial.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'radial' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logoindented.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'indented' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logograph.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'force' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logobubble.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'bubble' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/jsongenerique.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'json' | trans}}"/>
				{% endimage %}
			</a>
		</li>
	</ul>
</nav>
