<nav id='menusite'>
	<ul>
		<li>
			{% image '@JCFrontBundle/Resources/public/images/menusite/logocarto.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'ac' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% image '@JCFrontBundle/Resources/public/images/menusite/logodoc.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'Documentation' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% image '@JCFrontBundle/Resources/public/images/menusite/logolivre.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'Livre d\'or' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% image '@JCFrontBundle/Resources/public/images/menusite/logoinfo.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'A propos' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% if app.request.locale == 'fr' %}
			<a href="{{ path('jc_front_homepage', {_locale:'en'} )}}">
				{% image '@JCFrontBundle/Resources/public/images/menusite/en.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'Le site est actuellement en français, cliquez ici pour le traduire en anglais' | trans}}"/>
				{% endimage %}
			</a>
			{% else %}
			<a href="{{ path('jc_front_homepage', {_locale:'fr'} )}}">
				{% image '@JCFrontBundle/Resources/public/images/menusite/fr.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'Le site est actuellement en anglais, cliquez ici pour le traduire en français' | trans}}"/>
				{% endimage %}
			</a>
			{% endif %}
		</li>
	</ul>
</nav>
