<nav id='menuuser'>
	<ul>
		{% if app.user %}
			<li>
				{{ 'welcom' | trans }} {{ app.user.username }}
			</li>
		{% endif %}
		<li>
			{% if app.user %}
				{% image '@JCFrontBundle/Resources/public/images/menusite/logout.png' %}
					<a href="{{ path('fos_user_security_logout') }}"><img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'delog' | trans}}"/>
					</a>
				{% endimage %}
				{% image '@JCFrontBundle/Resources/public/images/menusite/supprimer.png' %}
					<a href="{{ path('jc_user_supprimer') }}"><img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'del' | trans}}"/>
					</a>
				{% endimage %}
			{% else %}
				{% image '@JCFrontBundle/Resources/public/images/menusite/logocadenas.png' %}
					<a href="{{ path('fos_user_security_login') }}"><img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'login' | trans}}"/>
					</a>
				{% endimage %}
				{% image '@JCFrontBundle/Resources/public/images/menusite/inscription.png' %}
					<a href="{{ path('fos_user_registration_register') }}"><img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'register' | trans}}"/>
					</a>
				{% endimage %}
			{% endif %}
		</li>
	</ul>
</nav>
