<nav id='menudonnees'>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logowordnet.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'WordNet' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logodbpedia.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'DbPedia' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@JCFrontBundle/Resources/public/images/menusite/logodebian.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'Debian' | trans}}"/>
				{% endimage %}
			</a>
		</li>
	</ul>
</nav>
