{% extends "::base.html.twig" %}

{% block contenuglobal %}
{% image '@JCFrontBundle/Resources/public/images/banniere.png' %}
	<img
		src="{{ asset_url }}" width="100%" height="150px"
		title="{{ 'banniere' | trans}}"/>
{% endimage %}

<div class="conteneuraccueil">

	<h1>{{ 'titreprincipal' | trans }}</h1>
	<p>{{ 'ac1' | trans }} </p>
	<p>{{ 'ac2' | trans }} {{ 'relais' | trans }}.</p>

	<div class="accueil">

		<h2>{{ 'datasources' | trans }}</h2>

		<div class="accadre source" >
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logowordnet.png' %}
				<img id="wordnet"
					src="{{ asset_url }}"
					title="{{ 'WordNet' | trans}}"/>
			{% endimage %}
			<h3>{{ 'WordNet' | trans}}</h3>
			<p>{{ 'wndef' | trans }}
			</p>

		</div><div class="accadre source" >

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodbpedia.png' %}
				<img id="dbpedia"
					src="{{ asset_url }}"
					title="{{ 'DbPedia' | trans}}"/>
			{% endimage %}
			<h3>{{ 'DbPedia' | trans}}</h3>
			<p>{{ 'dbdef' | trans}}
			</p>

		</div><div class="accadre source" >
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodebian.png' %}
				<img id="debian"
					src="{{ asset_url }}"
					title="{{ 'Debian' | trans}}"/>
			{% endimage %}
			<h3>{{ 'Debian' | trans}}</h3>
			<p>{{ 'debiandef' | trans}}
			</p>

		</div><div class="accadre source" >

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logogetty.png' %}
				<img id="getty"
					src="{{ asset_url }}"
					title="{{ 'Getty' | trans}}"/>
			{% endimage %}
			<h3>{{ 'Getty' | trans}}</h3>
			<p>{{ 'gettydef' | trans}} 
			</p>

		</div><div class="accadre source" >

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logohumour.png' %}
				<img id="humour"
					src="{{ asset_url }}"
					title="{{ 'humour' | trans}}"/>
			{% endimage %}
			<h3>{{ 'humour' | trans}}</h3>
			<p>{{ 'humourdef' | trans}}
			</p>

		</div>


	</div><div class="accueil">

		<h2>{{ 'visu' | trans }}</h2>

		<div class="accadre vue" >

			<h3>{{ 'radial' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoradial.png' %}
				<img id="radial" onClick='activerVue("#radial")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'radial' | trans}}"/>
			{% endimage %}

		</div><div class="accadre vue" >

			<h3>{{ 'indented' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoindented.png' %}
				<img id="indented" onClick='activerVue("#indented")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'indented' | trans}}"/>
			{% endimage %}

		</div><div class="accadre vue" >

			<h3>{{ 'force' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logograph.png' %}
				<img id="force" onClick='activerVue("#force")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'force' | trans}}"/>
			{% endimage %}

		</div><div class="accadre vue" >

			<h3>{{ 'bubble' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logobubble.png' %}
				<img id="bubble" onClick='activerVue("#bubble")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'bubble' | trans}}"/>
			{% endimage %}

		</div><div class="accadre vue" >

			<h3>{{ 'matrice' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logomatrice.png' %}
				<img id="matrice" onClick='activerVue("#matrice")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'matrice' | trans}}"/>
			{% endimage %}

		</div>

	</div><div class="accueil">

		<h2>{{ 'jsonvisu' | trans }}</h2>
		<div class="accadre vue" >

			<h3>{{ 'json' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsongenerique.png' %}
				<img id="json" onClick='activerVue("#json")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'json' | trans}}"/>
			{% endimage %}

		</div><div class="accadre vue" >

			<h3>{{ 'jsongraph' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsongraph.png' %}
				<img id="jsongraph" onClick='activerVue("#jsongraph")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'jsongraph' | trans}}"/>
			{% endimage %}

		</div><div class="accadre vue" >

			<h3>{{ 'jsontree' | trans}}</h3>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsontree.png' %}
				<img id="jsontree" onClick='activerVue("#jsontree")'
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'jsontree' | trans}}"/>
			{% endimage %}

		</li>

	</div>

</div>
{% endblock %}

{% block stylesheets %} {{ parent() }}
	{% stylesheets filter='cssrewrite' '@JCFrontBundle/Resources/public/css/*' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}
