{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
	<h1>{{ 'create' | trans }}</h1>
	<p>{{ 'dejauncompte.part1' | trans }}<a href="{{ path('fos_user_security_login')}}">{{ 'dejauncompte.part2' | trans }}</a></p>
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

		<table>
			<tr>
				<td>{{ form_label(form.email, form.username) }}</td>
				<td>{{ form_errors(form.email) }}</td>
				<td>{{ form_widget(form.email) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.username) }}</td>
				<td>{{ form_errors(form.username) }}</td>
				<td>{{ form_widget(form.username) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.plainPassword.first) }}</td>
				<td>{{ form_errors(form.plainPassword.first) }}</td>
				<td>{{ form_widget(form.plainPassword.first) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.plainPassword.second) }}</td>
				<td>{{ form_errors(form.plainPassword.second) }}</td>
				<td>{{ form_widget(form.plainPassword.second) }}</td>
			</tr>
		</table>

		{{ form_rest(form) }}

		<div>
			<input type="submit" value="{{ 'create'|trans }}" />
		</div>

	</form>
{% endblock fos_user_content %}
