<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}DataNavigator{% endblock %}</title>
		{% block stylesheets %}
			{% stylesheets filter='cssrewrite' 'css/*' %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>

	<body>

		<div id="conteneurpage">
			{% block body %}{% endblock %}
		</div>
		<div id="conteneurD3">
			{% block d3 %}{% endblock %}
		</div>
		<div id="conteneurmenu">
			{{ include('JCFrontBundle:Menus:menusite.html.twig') }}
			{{ include('JCFrontBundle:Menus:menuvues.html.twig') }}
			{{ include('JCFrontBundle:Menus:menudonnees.html.twig') }}
			{{ include('JCFrontBundle:Menus:menutools.html.twig') }}
			{{ include('JCFrontBundle:Menus:recherche.html.twig') }}
			{{ include('JCFrontBundle:Menus:options.html.twig') }}
			{{ include('JCFrontBundle:Menus:infos.html.twig') }}

			{{ include('JCFrontBundle:Menus:menuadmin.html.twig') }}
		</div>


	</body>

	{% block js %}
		{% javascripts 'js/*' '@JCFrontBundle/Resources/public/js/tests/*' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
</html>
