<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}DataNavigator{% endblock %}</title>
		{% block stylesheets %}
			{% stylesheets filter='cssrewrite' 'css/*' %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	{% block js %}
		{% javascripts 'js/*' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
	<body>

		{# Le menu supérieur est présent sur toutes les pages #}
		<nav id="menusuperieur">
			<ul>
				<div id="gauche">
				<li {% if "front" in app.request.attributes.get('_route') %}class="pagecourante"{% endif %}><a href="{{ path('jc_front_homepage') }}">
					{% image 'images/menusite/logocarto.png' %}
						<img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'home' | trans}}"/>{{ 'home' | trans}}
					{% endimage %}
				</a></li>
				<li {% if "relais" in app.request.attributes.get('_route') %}class="pagecourante"{% endif %}><a href="{{ path('relais_relais_homepage') }}">
					{% image 'images/menusite/logorelais.png' %}
						<img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'relais' | trans}}"/>{{ 'relais' | trans}}
					{% endimage %}
				</a></li>
				<li><a href="{{ path('jc_front_homepage') }}">
					{% image 'images/menusite/logodoc.png' %}
						<img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'doc' | trans}}"/>{{ 'doc' | trans}}
					{% endimage %}
				</a></li>
				<li {% if "livre" in app.request.attributes.get('_route') %}class="pagecourante"{% endif %}><a href="{{ path('jc_livre_or_homepage') }}">
					{% image 'images/menusite/logolivre.png' %}
						<img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'livre' | trans}}"/>{{ 'livre' | trans}}
					{% endimage %}
				</a></li>
				<li><a href="{{ path('jc_front_homepage') }}">
					{% image 'images/menusite/logoinfo.png' %}
						<img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'about' | trans}}"/>{{ 'about' | trans}}
					{% endimage %}
				</a></li>

				</div>
				<div id="droit">

				{% if app.user %}
					<li>
						{% image 'images/menusite/logobienvenu.png' %}
							<a><img 
								src="{{ asset_url }}" height="20px" width="20px"
								title="{{ 'welcom' | trans}}"/>
						{% endimage %}
						{{ app.user.username }}</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li>
					{% image 'images/menusite/logout.png' %}
						<a href="{{ path('fos_user_security_logout') }}"><img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'delog' | trans}}"/>{{ 'delog' | trans}}
						</a>
					{% endimage %}
					</li>
				{% else %}
					<li>
					{% image 'images/menusite/logocadenas.png' %}
						<a href="{{ path('fos_user_security_login') }}"><img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'login' | trans}}"/>{{ 'login' | trans}}
						</a>
					{% endimage %}
					</li>
					<li>
					{% image 'images/menusite/logoinscription.png' %}
						<a href="{{ path('fos_user_registration_register') }}"><img 
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'register' | trans}}"/>{{ 'register' | trans}}
						</a>
					{% endimage %}
					</li>
				{% endif %}
				<li>
					{% if app.request.locale == 'fr' %}
					<a href="{{ path('jc_front_homepage', {_locale:'en'} )}}">
						{% image 'images/menusite/en.png' %}
							<img style="margin-right:0px"
								src="{{ asset_url }}" height="20px" width="20px"
								title="{{ 'trad' | trans}}"/>
						{% endimage %}
					</a>
					{% else %}
					<a href="{{ path('jc_front_homepage', {_locale:'fr'} )}}">
						{% image 'images/menusite/fr.png' %}
							<img style="margin-right:0px"
								src="{{ asset_url }}" height="20px" width="20px"
								title="{{ 'trad' | trans}}"/>
						{% endimage %}
					</a>
					{% endif %}
				</li>

				</div>
			</ul>
		</nav>
		<div style="clear:both;"></div>
		{# Le conteneur global contient tout ce qui est dessous #}
		<div id="conteneurglobal">
			{% block contenuglobal %}
				{# La page pour explorer les données contient son interface propre #}
				{# Les autres pages ont chacune leur propre interface graphique #}
			{% endblock %}
		</div>

	</body>
</html>
