

<h1>Historique</h1>

<table class="histochoix">
	<tr><th> {{ 'orderby' | trans }} </th>
	<th><select id="prio1" onChange="choisir();">
		<option value="date-desc" selected>{{ 'date' | trans }} &darr;</option>
		<option value="date-asc"> {{ 'date' | trans }} &uarr;</option>
		<option value="source-desc">{{ 'source' | trans }} &darr;</option>
		<option value="source-asc"> {{ 'source' | trans }} &uarr;</option>
		<option value="vue-desc">{{ 'vue' | trans }} &darr;</option>
		<option value="vue-asc"> {{ 'vue' | trans }} &uarr;</option>
		<option value="mot-desc">{{ 'mot' | trans }} &darr;</option>
		<option value="mot-asc"> {{ 'mot' | trans }} &uarr;</option>
	</select></th>
	<th><select id="prio2" onChange="choisir();">
		<option value="date-desc">{{ 'date' | trans }} &darr;</option>
		<option value="date-asc"> {{ 'date' | trans }} &uarr;</option>
		<option value="source-desc" selected>{{ 'source' | trans }} &darr;</option>
		<option value="source-asc"> {{ 'source' | trans }} &uarr;</option>
		<option value="vue-desc">{{ 'vue' | trans }} &darr;</option>
		<option value="vue-asc"> {{ 'vue' | trans }} &uarr;</option>
		<option value="mot-desc">{{ 'mot' | trans }} &darr;</option>
		<option value="mot-asc"> {{ 'mot' | trans }} &uarr;</option>
	</select></th>
	<th><select id="prio3" onChange="choisir();">
		<option value="date-desc" selected>{{ 'date' | trans }} &darr;</option>
		<option value="date-asc"> {{ 'date' | trans }} &uarr;</option>
		<option value="source-desc">{{ 'source' | trans }} &darr;</option>
		<option value="source-asc"> {{ 'source' | trans }} &uarr;</option>
		<option value="vue-desc" selected>{{ 'vue' | trans }} &darr;</option>
		<option value="vue-asc"> {{ 'vue' | trans }} &uarr;</option>
		<option value="mot-desc">{{ 'mot' | trans }} &darr;</option>
		<option value="mot-asc"> {{ 'mot' | trans }} &uarr;</option>
	</select></th>
	</tr>
	<tr><td colspan="4"> </td></tr>
	<tr>
		<th rowspan="2">{{ 'filtres' | trans }}</th>
		<td> {{ 'monly' | trans }} </td>
		<td> {{ 'sonly' | trans }} </td>
		<td> {{ 'vonly' | trans }} </td>
	</tr>
	<tr>
		<td><input type="text" id="imposemot" onChange="choisir();"/> </td>
		<td>

			<select id="histosource" multiple class="invisible">
				<option id="optionwordnet" value="wordnet">wordnet</option>
				<option id="optiondbpedia" value="dbpedia">dbpedia</option>
				<option id="optiondebian" value="debian">debian</option>
				<option id="optionhumour" value="humour">humour</option>
				<option id="optiongetty" value="getty">getty</option>
			</select>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logowordnet.png' %}
				<img id="choixwordnet" onClick="filtrerSource('wordnet')"
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'WordNet' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodbpedia.png' %}
				<img id="choixdbpedia" onClick="filtrerSource('dbpedia')"
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'DbPedia' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodebian.png' %}
				<img id="choixdebian" onClick="filtrerSource('debian')"
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'Debian' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logohumour.png' %}
				<img id="choixhumour" onClick="filtrerSource('humour')"
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'Humour' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logogetty.png' %}
				<img id="choixhumour" onClick="filtrerSource('humour')"
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'Humour' | trans}}"/>
			{% endimage %}

		</td>
		<td>
			<select id="histovue" multiple class="invisible">
				<option id="optionradial" value="radial">{{ 'radial' | trans }}</option>
				<option id="optionindented" value="indented">{{ 'indented' | trans }}</option>
				<option id="optionforce" value="force">{{ 'force' | trans }}</option>
				<option id="optionbubble" value="bubble">{{ 'bubble' | trans }}</option>
				<option id="optionjson" value="json">{{ 'json' | trans }}</option>
				<option id="optionjsongraph" value="jsongraph">{{ 'jsongraph' | trans }}</option>
			</select>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoradial.png' %}
				<img id="choixradial" onClick='filtrerVue("radial")'
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'radial' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoindented.png' %}
				<img id="choixindented" onClick='filtrerVue("indented")'
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'indented' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logograph.png' %}
				<img id="choixforce" onClick='filtrerVue("force")'
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'force' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logobubble.png' %}
				<img id="choixbubble" onClick='filtrerVue("bubble")'
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'bubble' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsongenerique.png' %}
				<img id="choixjson" onClick='filtrerVue("json")'
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'json' | trans}}"/>
			{% endimage %}
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsongraph.png' %}
				<img id="choixjsongraph" onClick='filtrerVue("jsongraph")'
					src="{{ asset_url }}" height="20px" width="20px"
					title="{{ 'jsongraph' | trans}}"/>
			{% endimage %}
		</td>
	</tr>
	<tr><td></td></tr>
	<tr>
		<th>{{ 'favonly' | trans }}</th>
		<td><input type="checkbox" id="imposefav" onChange="choisir();"/><label for="imposefav"></label></td>
	</tr>

</table>

<div id="divfav"></div>

<div id="contenuHistorique">
{{ include('RelaisRelaisBundle:Default:showhistorique.html.twig', {historique:historique}) }}

</div>

<script type="text/javascript">

function choisir()
{

	var prio1 = $('#prio1 option:selected').val();
	var prio2 = $('#prio2 option:selected').val();
	var prio3 = $('#prio3 option:selected').val();
	var prio = prio1;
	if (prio2 != prio1) { prio += ',' + prio2; }
	if (prio3 != prio1 && prio3 != prio2) { prio += ',' + prio3; }

	var impose = '';
	var mot = $('#imposemot').val().split(' ');

	var source = [];
	$('#histosource option:selected').each(function() {
		source.push($(this).val());
	});

	var vue = [];
	$('#histovue option:selected').each(function() {
		vue.push($(this).val());
	});

	var fav = $('#imposefav').attr('checked');

	mot.forEach( function(nommot) {
		if (nommot != '')
		{
			if (impose != '') { impose += ','; } 
			impose += 'mot-"' + nommot + '"';
		}
	});
	source.forEach( function(nomsource) {
		if (impose != '') { impose += ','; } 
		impose += 'source-' + nomsource;
	});
	vue.forEach( function(nomvue) {
		if (impose != '') { impose += ','; } 
		impose += 'vue-' + nomvue; 
	});
	if (fav)
	{
		if (impose != '') { impose += ','; } 
		impose += 'favorite-' + 1; 
	}

	var loc = '{{ app.request.locale }}';

	var url = '';
	if (impose == '') { url = Routing.generate('relais_relais_show_historique_min', { prio:prio, _locale:loc }); }
	else { url = Routing.generate('relais_relais_show_historique_min', { prio:prio, impose:impose, _locale:loc }); }

	$('#contenuHistorique').load(url);
}

function filtrerSource(source)
{
	if ($('#option' + source).attr('selected'))
	{
		$('#option' + source).attr('selected',false),
		$('#choix' + source).removeClass('sourcechoisie');
	}
	else
	{
		$('#option' + source).attr('selected',true),
		$('#choix' + source).addClass('sourcechoisie');
	}
	choisir();
}

function filtrerVue(vue)
{
	if ($('#option' + vue).attr('selected'))
	{
		$('#option' + vue).attr('selected',false),
		$('#choix' + vue).removeClass('vuechoisie');
	}
	else
	{
		$('#option' + vue).attr('selected',true),
		$('#choix' + vue).addClass('vuechoisie');
	}
	choisir();
}

function changefavorite(id)
{
	url = Routing.generate('relais_relais_favori_change', { id:id });
	$('#divfav').load(url);
	choisir();
}

function lancer(url,mot,source,vue,limite,listerel)
{
	$('#form_mot').val(mot.substr(1,mot.length - 2));
	$('#' + source).click();
	$('#' + vue).click();
	$('#form_limite').val(limite);
	var tabrel = listerel.split('-');
	setTimeout(function() {
		tabrel.forEach( function(rel) {
			if (rel != '') { $('#form_relations option[value="' + rel + '"]').attr('selected',true); }
		});
	},1500);

	rechercher(url);
}
</script>
