{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite' '@RelaisRelaisBundle/Resources/public/css/*' '@VuesRepresentationsBundle/Resources/public/css/*'%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block contenuglobal %}

<div id="conteneurmenu">

	{% if is_granted('ROLE_ADMIN') %}
		<div id="conteneurtests">
			{% block tests %}{{ include('RelaisRelaisBundle:Default:test.html.twig') }}{% endblock %}
		</div>
	{% endif %}

	<form action="" method="submit" id="formrecherche" name="formrecherche">
	{{ include('RelaisRelaisBundle:Menus:menudonnees.html.twig',{ formrecherche:formrecherche }) }}
	{{ include('RelaisRelaisBundle:Menus:menuvues.html.twig',{ formrecherche:formrecherche }) }}

	{{ include('RelaisRelaisBundle:Menus:recherche.html.twig',{ formrecherche:formrecherche }) }}
	{{ include('RelaisRelaisBundle:Menus:options.html.twig',{ formrecherche:formrecherche }) }}
	{{ include('RelaisRelaisBundle:Menus:infos.html.twig') }}

	<div id="conteneurD3" style="background-color:yellow; min-height:20px; min-width:20px;">
		{% block d3 %}{% endblock %}
	</div>

	<div id="loading">
		{% image '@RelaisRelaisBundle/Resources/public/images/menusite/loading.gif' %}
			<img
				src="{{ asset_url }}" height="100px" width="100px"
				title="{{ 'patientez' | trans}}"/>
		{% endimage %}
	</div>

	</form>

	{% if is_granted('ROLE_ADMIN') %}
		{{ include('RelaisRelaisBundle:Menus:menuadmin.html.twig') }}
	{% endif %}
</div>

{% endblock %}

{% block js %} {{ parent() }}
	{% javascripts '@RelaisRelaisBundle/Resources/public/js/public/*' '@VuesRepresentationsBundle/Resources/views/d3_outils.js.twig' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		showInfos('{{ path('relais_relais_layoutInfos') }}');
		showWN('{{ path('relais_relais_layoutShowWN') }}');
		showDB('{{ path('relais_relais_layoutShowDB') }}');
		showDB('{{ path('relais_relais_layoutShowDebian') }}');
	});
</script>
{% endblock %}
