<table class="histo">
	<tr> 
		<th> {{ 'date' | trans }} </th>
		<th> {{ 'mot' | trans }} </th>
		<th> {{ 'source' | trans }} </th>
		<th> {{ 'vue' | trans }} </th>
		<th> {{ 'limite' | trans }} </th>
		<th class="rel"> {{ 'rel' | trans }} </th>
		<th> {{ 'fav' | trans }} </th>
	</tr>
{% for rec in historique %}
	<tr> 
		<td> {{ rec.date | date("d/m/Y") }} </td>
		<td> {{ rec.mot }} </td>
		<td> {{ rec.source }} </td>
		<td> {{ rec.vue | trans }} </td>
		<td> {{ rec.limite }} </td>
		<td title="{% for rel in rec.relations %} {{ rel }} - {% endfor %}"> {{ rec.relations|length }}</td>
		<td> 
				{% if rec.favorite %} 
					{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logofavori.png' %}
						<img onClick='changefavorite("{{ rec.id }}")'
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'rmfav' | trans}}"/>
					{% endimage %}
				{% else %} 
					{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logonofavori.png' %}
						<img onClick='changefavorite("{{ rec.id }}")'
							src="{{ asset_url }}" height="20px" width="20px"
							title="{{ 'addfav' | trans}}"/>
					{% endimage %}
				{% endif %} 
		</td>
	</tr>
{% endfor %}
</table>
