{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'messages' %}

{% block fos_user_content %}

	<h1>Connexion</h1>
	<p>Si vous ne possédez pas encore de compte, vous devez <a href="{{ path('fos_user_registration_register')}}">utiliser la page de création de compte</a></p>

	{% if error %}
		<div>{{ error|trans }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">

		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<table>
			<tr>
				<td><label for="username">Nom d'utilisateur</label></td>
				<td><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></td>
			</tr><tr>
				<td><label for="password">Mot de passe</label></td>
				<td><input type="password" id="password" name="_password" required="required" /></td>
			</tr><tr>
				<td colspan=2><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">Se souvenir de moi</label></td>
			</tr>
		</table>

		<input type="submit" id="_submit" name="_submit" value="Connection" />

	</form>

{% endblock fos_user_content %}
