<nav id='menusite'>
	<ul>
		<li>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logocarto.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'home' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodoc.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'doc' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logolivre.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'livre' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoinfo.png' %}
				<img 
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'about' | trans}}"/>
			{% endimage %}
		</li>
		<li>
			{% if app.request.locale == 'fr' %}
			<a href="{{ path('jc_front_homepage', {_locale:'en'} )}}">
				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/en.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'trad' | trans}}"/>
				{% endimage %}
			</a>
			{% else %}
			<a href="{{ path('jc_front_homepage', {_locale:'fr'} )}}">
				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/fr.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'trad' | trans}}"/>
				{% endimage %}
			</a>
			{% endif %}
		</li>
	</ul>
</nav>
