<nav id='menuvue'>
	<ul>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoradial.png' %}
				<img id="radial" onClick='activerVue("#radial")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'radial' | trans}}"/>
			{% endimage %}

		</a></li>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoindented.png' %}
				<img id="indented" onClick='activerVue("#indented")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'indented' | trans}}"/>
			{% endimage %}

		</a></li>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logograph.png' %}
				<img id="force" onClick='activerVue("#force")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'force' | trans}}"/>
			{% endimage %}

		</a></li>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logobubble.png' %}
				<img id="bubble" onClick='activerVue("#bubble")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'bubble' | trans}}"/>
			{% endimage %}

		</a></li>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logomatrice.png' %}
				<img id="matrice" onClick='activerVue("#matrice")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'matrice' | trans}}"/>
			{% endimage %}

		</a></li>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsongenerique.png' %}
				<img id="json" onClick='activerVue("#json")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'json' | trans}}"/>
			{% endimage %}

		</a></li>
		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsongraph.png' %}
				<img id="jsongraph" onClick='activerVue("#jsongraph")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'jsongraph' | trans}}"/>
			{% endimage %}

		</a></li>

		<li><a>

			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/jsontree.png' %}
				<img id="jsontree" onClick='activerVue("#jsontree")'
					src="{{ asset_url }}" height="30px" width="30px"
					title="{{ 'jsontree' | trans}}"/>
			{% endimage %}

		</a></li>

		{{ form_widget(formrecherche.vue) }}
	</ul>
</nav>
