<nav id='menutools'>
	<ul>
		<li>
			<a href="">
				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logozoom.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'zoom' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodezoom.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'unzoom' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodeplace.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'Drag & Drop' | trans}}"/>
				{% endimage %}
			</a>
		</li>
		<li>
			<a href="">
				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logorotation.png' %}
					<img 
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'Rotation' | trans}}"/>
				{% endimage %}
			</a>
		</li>
	</ul>
</nav>

