<nav id='menutools'>
	<ul>
		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logozoom.png' %}
					<img onClick='activerZoom(1)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'zoom' | trans}}"/>
				{% endimage %}

		</li>
		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logohaut.png' %}
					<img onClick='activerDrag(0,-1)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'haut' | trans}}"/>
				{% endimage %}

		</li>
		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodezoom.png' %}
					<img onClick='activerZoom(-1)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'unzoom' | trans}}"/>
				{% endimage %}

		</li>
		<br/>
		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logogauche.png' %}
					<img onClick='activerDrag(-1,0)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'gauche' | trans}}"/>
				{% endimage %}

		</li>
		<li style="visibility:hidden">

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/rien.png' %}
					<img 
						src="{{ asset_url }}" height="20px" width="20px"/>
				{% endimage %}

		</li>

		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logodroite.png' %}
					<img onClick='activerDrag(1,0)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'droite' | trans}}"/>
				{% endimage %}

		</li>
		<br/>
		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logorotationinv.png' %}
					<img onClick='activerRotation(-1)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'rotation-' | trans}}"/>
				{% endimage %}

		</li>

		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logobas.png' %}
					<img onClick='activerDrag(0,1)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'bas' | trans}}"/>
				{% endimage %}

		</li>

		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logorotation.png' %}
					<img onClick='activerRotation(1)'
						src="{{ asset_url }}" height="20px" width="20px"
						title="{{ 'rotation+' | trans}}"/>
				{% endimage %}

		</li>

	</ul>
</nav>

